@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.title{
    display: flex;
    align-items: center;
    /*align-content: center;*/
}

.title img{
    object-fit: contain;
    padding-right: 10px;
}

.title div{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #222222;
}

.imgAction{
    display: flex;
    justify-content: space-between;
}
