.bg-primary-pk{
    background-color: #0256CE;
}
.bg-danger-pk{
    background-color: #FF3346;
}

.row .car{
    width: 70px;
    padding: 0;
}

.row .car .car-content{
    min-height: calc(100px);
}
body{
    background-color: black;
}
.grl-site .border-top-pk{
    border-top: 4px solid  #0256CE;
}